<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>win two free ipod nanos!</h1>
    <form action='/handle_results' method=POST>
        Full name: <input type='text' name='full_name'><br>
        Mother's maiden name: <input type='text' name='mothers_maiden_name'><br>
        Name of my first pet: <input type='text' name='first_pet'><br>
        Social security number: <input type='number' name='social_security_number'><br>
        <input type='submit'>
    </form>
</body>
</html>